body{
    display: flex;
    width: auto;
    flex-flow: column;
    gap: 10vh;
    align-items: center;
    background-color: #02023a;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03045e;
    padding: 10px;
    border-radius: 8px;
    color: #c4c4c4;
}
.calculadora{
    display: flex;
    flex-flow: column;
    background-color: #03045e;
    height: 30vw;
    width: 25vw;
    border-radius: 4%;
    padding:10px;
}
.headercalc{
    padding: 10px;
    font-size: 1.5em;
    background-color: #02023a;
    display: flex;
    flex-flow:row nowrap;
    gap: 5px;
    flex-shrink: 2;
    border-radius: 8px 8px 0 0 ;
    color: #c4c4c4;
}
.headercalc input{
    width: auto;
}
h2{
    background-color: #02023a;
    border-radius: 8px;
    padding: 2px 0 2px 5px;
    color: #c4c4c4;
}
textarea{
    background-color: #02023a;
    padding: 0px;
    margin: 0px;
    color: #c4c4c4;
}

